extend ./modules/layout.pug

block append head
    //-pug modules
    - var something = false

    title Week08 -
    link(rel="stylesheet", href="assets/style/all.css")
    script(src="assets/js/vendors.js")
    script(src="assets/js/all.js")

block content
    section.indexBanner.fix-nav
        include ./modules/indexBanner.pug
    section.fix-nav test content