extend ./modules/layout.pug

block append head
    //-pug modules
    - var something = false
    
    title Week8 - 
    link(rel="stylesheet", href="assets/style/all.css")
    script(src="assets/js/vendors.js")
    script(src="assets/js/all.js")

block content
    div page1~~~~~~