block footer
    footer.footer
        .container
            .row
                .col-12.d-flex.py-4.flex-md-row.flex-column-reverse.align-items-center
                    p.customs-font-size-14.mb-0.mr-lg-9.mr-0 © 2020 ALOHA, Inc. All rights reserved.
                    ul.list-unstyled.d-flex.customs-font-size-14.mb-0.ml-lg-0.ml-md-auto.ml-sm-0.mb-md-0.mb-3
                        li.mr-4
                            a.text-dark(href="#") FAQs
                        li.mr-4
                            a.text-dark(href="#") Terms of use
                        li
                            a.text-dark(href="#") Privacy policy
                    ul.list-unstyled.d-lg-flex.d-none.customs-font-size-14.mb-0.ml-auto
                        li
                            a.text-dark.mr-4(href="#")
                                span.material-icons language
                                span.ml-2 language
                                span.material-icons arrow_drop_down
                            a.text-dark(href="#")
                                span.material-icons attach_money
                                span.ml-2 TWD
                                span.material-icons arrow_drop_down