block imgBtn
    .col-12.col-md-4.col-sm-6.card.border-0.mb-md-4.mb-2(role="button")
        .d-flex.justify-content-between.align-items-center.bg-size-cover.bg-black-white.bg-norepeat.py-3.px-4.overflow-hidden.rounded.bg-position-center(style="background-image: url(../assets/images/Osaka.jpg)")
            .d-flex.flex-column.z-index-10
                .custom-font-size-1.font-weight-bold.text-white JAPAN
                .custom-font-size-4.font-family-raleway.text-white Osaka
            span.material-icons.z-index-10.text-white expand_more
    .col-12.col-md-4.col-sm-6.card.border-0.mb-md-4.mb-2(role="button")
        .d-flex.justify-content-between.align-items-center.bg-size-cover.bg-black-white.bg-norepeat.py-3.px-4.overflow-hidden.rounded.bg-position-center(style="background-image: url(../assets/images/Kyoto.jpg)")
            .d-flex.flex-column.z-index-10
                .custom-font-size-1.font-weight-bold.text-white JAPAN
                .custom-font-size-4.font-family-raleway.text-white Kyoto
            span.material-icons.z-index-10.text-white expand_more
    .col-12.col-md-4.col-sm-6.card.border-0.mb-md-4.mb-2(role="button")
        .d-flex.justify-content-between.align-items-center.bg-size-cover.bg-black-white.bg-norepeat.py-3.px-4.overflow-hidden.rounded.bg-position-center(style="background-image: url(../assets/images/Reykjavic.jpg)")
            .d-flex.flex-column.z-index-10
                .custom-font-size-1.font-weight-bold.text-white iceland
                .custom-font-size-4.font-family-raleway.text-white Reykjavík
            span.material-icons.z-index-10.text-white expand_more
    .col-12.col-md-4.col-sm-6.card.border-0.mb-md-4.mb-2(role="button")
        .d-flex.justify-content-between.align-items-center.bg-size-cover.bg-black-white.bg-norepeat.py-3.px-4.overflow-hidden.rounded.bg-position-center(style="background-image: url(../assets/images/Paris.jpg)")
            .d-flex.flex-column.z-index-10
                .custom-font-size-1.font-weight-bold.text-white London
                .custom-font-size-4.font-family-raleway.text-white Paris
            span.material-icons.z-index-10.text-white expand_more
    .col-12.col-md-4.col-sm-6.card.border-0.mb-md-4.mb-2(role="button")
        .d-flex.justify-content-between.align-items-center.bg-size-cover.bg-black-white.bg-norepeat.py-3.px-4.overflow-hidden.rounded.bg-position-center(style="background-image: url(../assets/images/Roman.jpg)")
            .d-flex.flex-column.z-index-10
                .custom-font-size-1.font-weight-bold.text-white Italy
                .custom-font-size-4.font-family-raleway.text-white Roma
            span.material-icons.z-index-10.text-white expand_more
    .col-12.col-md-4.col-sm-6.card.border-0.mb-md-4.mb-2(role="button")
        .d-flex.justify-content-between.align-items-center.bg-size-cover.bg-black-white.bg-norepeat.py-3.px-4.overflow-hidden.rounded.bg-position-center(style="background-image: url(../assets/images/Bangkok.jpg)")
            .d-flex.flex-column.z-index-10
                .custom-font-size-1.font-weight-bold.text-white Thailand
                .custom-font-size-4.font-family-raleway.text-white Bangkok
            span.material-icons.z-index-10.text-white expand_more
        