block searchingBar
    .container
        .row.py-4.px-2.no-gutters
            .form-row.col-lg-10.px-2.mx-0
                .col-lg-4.mb-lg-0.mb-3
                  input.form-control.pl-8.position-relative(type='text', placeholder='Destination')
                  span.material-icons.position-absolute place
                .col-lg-4.mb-lg-0.mb-3
                  input.form-control.pl-8.position-relative(type='text', placeholder='Check-in / Check-out')
                  span.material-icons.position-absolute event_note
                .col-lg-4.mb-lg-0.mb-3
                  input.form-control.pl-8.position-relative(type='text', placeholder='Guests')
                  span.material-icons.position-absolute person
            .col-lg-2.px-lg-2.px-2.mx-2.mx-lg-n2
                a.btn.btn-primary.w-100(href="#") Search
