block subscribe
    .col-12.text-center.flex-basis-auto.mb-4
        h2.custom-font-size-md-10.custom-font-size-4.font-family-raleway.font-weight-bold.mb-0 Subscribe for Exclusive Offer
    .col-lg-6.col-md-10.col-12.flex-basis-auto
        .input-group
            input.form-control(type='text', placeholder="Your email address")
            .input-group-append
                button#button-addon2.btn.btn-primary(type='button') Subscribe