block subscribe
    .col-12.text-center.flex-basis-auto( class=( isItIndexPage ? "mb-4" : "col-lg-5 col-md-5 mb-md-0 mb-3"))
        h2.custom-font-size-4.font-family-raleway.font-weight-bold.mb-0( class=( isItIndexPage ? "custom-font-size-md-10" : "custom-font-size-md-6 text-left"))
            | Subscribe for Exclusive Offer
    .col-12.flex-basis-auto( class=( isItIndexPage ? "col-lg-6 col-md-10" : "col-lg-7 col-md-7"))
        .input-group
            input.form-control(type='text', placeholder="Your email address")
            .input-group-append
                button#button-addon2.btn.btn-primary(type='button') Subscribe