block tabChoice
    .col-12.mb-4
        #list-tab.list-group.d-flex.flex-row(role='tablist')
            a#list-Bali-list.list-group-item.list-group-item-action.d-inline-block.w-auto.rounded-0.border-right-0.border-left-0.border-top-0.custom-font-size-3.custom-font-size-md-4.active(data-toggle='list', href='#list-Bali', role='tab') Bali
            a#list-Okinawa-list.list-group-item.list-group-item-action.d-inline-block.w-auto.rounded-0.border-right-0.border-left-0.border-top-0.custom-font-size-3.custom-font-size-md-4(data-toggle='list', href='#list-Okinawa', role='tab') Okinawa
            a#list-Taipei-list.list-group-item.list-group-item-action.d-inline-block.w-auto.rounded-0.border-right-0.border-left-0.border-top-0.custom-font-size-3.custom-font-size-md-4(data-toggle='list', href='#list-Taipei', role='tab') Taipei
    .col-12
        #nav-tabContent.tab-content
            #list-Bali.tab-pane.fade.show.overflow-hidden.active(role='tabpanel', aria-labelledby='list-Bali-list')
                .d-flex.flex-nowrap
                    .card.border-0.mr-5
                        .imgWrap.imgWrap--overflow-hidden.rounded.mb-2
                            img.w-100(src='../assets/images/top1.jpg', alt='hotel photo')
                        .card-body.p-0
                            h3.font-weight-bold.custom-font-size-2.mb-2 Hotel Aqua
                            .d-flex.mb-2
                                .stars.line-height-1
                                    span.custom-font-size-1.material-icons star
                                    span.custom-font-size-1.material-icons star
                                    span.custom-font-size-1.material-icons star
                                    span.custom-font-size-1.material-icons star
                                    span.custom-font-size-1.material-icons star
                                    span.custom-font-size-1 5.0
                                .text-muted.custom-font-size-1 ・2k reviews
                            .d-flex
                                p.custom-font-size-1.mb-0 TWD 2,480
                                p.custom-font-size-1.mb-0.strikeThrough.ml-2 TWD 3,980
                    .card.border-0.mr-5
                        .imgWrap.imgWrap--overflow-hidden.mb-2.rounded
                            img.w-100(src='../assets/images/top2.jpg', alt='hotel photo')
                        .card-body.p-0
                            h3.font-weight-bold.custom-font-size-2.mb-2 Mr. Kawasaki Inn
                            .d-flex.mb-2
                                .stars.line-height-1
                                    span.custom-font-size-1.material-icons star
                                    span.custom-font-size-1.material-icons star
                                    span.custom-font-size-1.material-icons star
                                    span.custom-font-size-1.material-icons star
                                    //- span.custom-font-size-1.material-icons star
                                    span.custom-font-size-1 4.0
                                .text-muted.custom-font-size-1 ・500 reviews
                            .d-flex
                                p.custom-font-size-1.mb-0 TWD 3,380
                                //- p.custom-font-size-1.mb-0.strikeThrough.ml-2 TWD 3,980
                    .card.border-0.mr-5
                        .imgWrap.imgWrap--overflow-hidden.mb-2.rounded
                            img.h-100(src='../assets/images/top3.jpg', alt='hotel photo')
                        .card-body.p-0
                            h3.font-weight-bold.custom-font-size-2.mb-2 Weekly Paradise
                            .d-flex.mb-2
                                .stars.line-height-1
                                    span.custom-font-size-1.material-icons star
                                    span.custom-font-size-1.material-icons star
                                    span.custom-font-size-1.material-icons star
                                    span.custom-font-size-1.material-icons star
                                    //- span.custom-font-size-1.material-icons star
                                    span.custom-font-size-1 4.0
                                .text-muted.custom-font-size-1 ・470 reviews
                            .d-flex
                                p.custom-font-size-1.mb-0 TWD 4,780
                                //- p.custom-font-size-1.mb-0.strikeThrough.ml-2 TWD 3,980
                    .card.border-0.mr-5
                        .imgWrap.imgWrap--overflow-hidden.mb-2.rounded
                            img.w-100(src='../assets/images/top4.jpg', alt='hotel photo')
                        .card-body.p-0
                            h3.font-weight-bold.custom-font-size-2.mb-2 Beast Hotel
                            .d-flex.mb-2
                                .stars.line-height-1
                                    span.custom-font-size-1.material-icons star
                                    span.custom-font-size-1.material-icons star
                                    span.custom-font-size-1.material-icons star
                                    span.custom-font-size-1.material-icons star
                                    //- span.custom-font-size-1.material-icons star
                                    span.custom-font-size-1 4.0
                                .text-muted.custom-font-size-1 ・283 reviews
                            .d-flex
                                p.custom-font-size-1.mb-0 TWD 1,980
                                //- p.custom-font-size-1.mb-0.strikeThrough.ml-2 TWD 3,980
            #list-Okinawa.tab-pane.fade.overflow-hidden(role='tabpanel', aria-labelledby='list-Okinawa-list')
                .d-flex.flex-nowrap
                    .card.border-0.mr-5
                        .imgWrap.imgWrap--overflow-hidden.rounded.mb-2
                            img.w-100(src='../assets/images/top1.jpg', alt='hotel photo')
                        .card-body.p-0
                            h3.font-weight-bold.custom-font-size-2.mb-2 Hotel Aqua
                            .d-flex.mb-2
                                .stars.line-height-1
                                    span.custom-font-size-1.material-icons star
                                    span.custom-font-size-1.material-icons star
                                    span.custom-font-size-1.material-icons star
                                    span.custom-font-size-1.material-icons star
                                    span.custom-font-size-1.material-icons star
                                    span.custom-font-size-1 5.0
                                .text-muted.custom-font-size-1 ・2k reviews
                            .d-flex
                                p.custom-font-size-1.mb-0 TWD 2,480
                                p.custom-font-size-1.mb-0.strikeThrough.ml-2 TWD 3,980
                    .card.border-0.mr-5
                        .imgWrap.imgWrap--overflow-hidden.mb-2.rounded
                            img.w-100(src='../assets/images/top2.jpg', alt='hotel photo')
                        .card-body.p-0
                            h3.font-weight-bold.custom-font-size-2.mb-2 Mr. Kawasaki Inn
                            .d-flex.mb-2
                                .stars.line-height-1
                                    span.custom-font-size-1.material-icons star
                                    span.custom-font-size-1.material-icons star
                                    span.custom-font-size-1.material-icons star
                                    span.custom-font-size-1.material-icons star
                                    //- span.custom-font-size-1.material-icons star
                                    span.custom-font-size-1 4.0
                                .text-muted.custom-font-size-1 ・500 reviews
                            .d-flex
                                p.custom-font-size-1.mb-0 TWD 3,380
                                //- p.custom-font-size-1.mb-0.strikeThrough.ml-2 TWD 3,980
                    .card.border-0.mr-5
                        .imgWrap.imgWrap--overflow-hidden.mb-2.rounded
                            img.h-100(src='../assets/images/top3.jpg', alt='hotel photo')
                        .card-body.p-0
                            h3.font-weight-bold.custom-font-size-2.mb-2 Weekly Paradise
                            .d-flex.mb-2
                                .stars.line-height-1
                                    span.custom-font-size-1.material-icons star
                                    span.custom-font-size-1.material-icons star
                                    span.custom-font-size-1.material-icons star
                                    span.custom-font-size-1.material-icons star
                                    //- span.custom-font-size-1.material-icons star
                                    span.custom-font-size-1 4.0
                                .text-muted.custom-font-size-1 ・470 reviews
                            .d-flex
                                p.custom-font-size-1.mb-0 TWD 4,780
                                //- p.custom-font-size-1.mb-0.strikeThrough.ml-2 TWD 3,980
                    .card.border-0.mr-5
                        .imgWrap.imgWrap--overflow-hidden.mb-2.rounded
                            img.w-100(src='../assets/images/top4.jpg', alt='hotel photo')
                        .card-body.p-0
                            h3.font-weight-bold.custom-font-size-2.mb-2 Beast Hotel
                            .d-flex.mb-2
                                .stars.line-height-1
                                    span.custom-font-size-1.material-icons star
                                    span.custom-font-size-1.material-icons star
                                    span.custom-font-size-1.material-icons star
                                    span.custom-font-size-1.material-icons star
                                    //- span.custom-font-size-1.material-icons star
                                    span.custom-font-size-1 4.0
                                .text-muted.custom-font-size-1 ・283 reviews
                            .d-flex
                                p.custom-font-size-1.mb-0 TWD 1,980
                                //- p.custom-font-size-1.mb-0.strikeThrough.ml-2 TWD 3,980
            #list-Taipei.tab-pane.fade.overflow-hidden(role='tabpanel', aria-labelledby='list-Taipei-list')
                .d-flex.flex-nowrap
                    .card.border-0.mr-5
                        .imgWrap.imgWrap--overflow-hidden.rounded.mb-2
                            img.w-100(src='../assets/images/top1.jpg', alt='hotel photo')
                        .card-body.p-0
                            h3.font-weight-bold.custom-font-size-2.mb-2 Hotel Aqua
                            .d-flex.mb-2
                                .stars.line-height-1
                                    span.custom-font-size-1.material-icons star
                                    span.custom-font-size-1.material-icons star
                                    span.custom-font-size-1.material-icons star
                                    span.custom-font-size-1.material-icons star
                                    span.custom-font-size-1.material-icons star
                                    span.custom-font-size-1 5.0
                                .text-muted.custom-font-size-1 ・2k reviews
                            .d-flex
                                p.custom-font-size-1.mb-0 TWD 2,480
                                p.custom-font-size-1.mb-0.strikeThrough.ml-2 TWD 3,980
                    .card.border-0.mr-5
                        .imgWrap.imgWrap--overflow-hidden.mb-2.rounded
                            img.w-100(src='../assets/images/top2.jpg', alt='hotel photo')
                        .card-body.p-0
                            h3.font-weight-bold.custom-font-size-2.mb-2 Mr. Kawasaki Inn
                            .d-flex.mb-2
                                .stars.line-height-1
                                    span.custom-font-size-1.material-icons star
                                    span.custom-font-size-1.material-icons star
                                    span.custom-font-size-1.material-icons star
                                    span.custom-font-size-1.material-icons star
                                    //- span.custom-font-size-1.material-icons star
                                    span.custom-font-size-1 4.0
                                .text-muted.custom-font-size-1 ・500 reviews
                            .d-flex
                                p.custom-font-size-1.mb-0 TWD 3,380
                                //- p.custom-font-size-1.mb-0.strikeThrough.ml-2 TWD 3,980
                    .card.border-0.mr-5
                        .imgWrap.imgWrap--overflow-hidden.mb-2.rounded
                            img.h-100(src='../assets/images/top3.jpg', alt='hotel photo')
                        .card-body.p-0
                            h3.font-weight-bold.custom-font-size-2.mb-2 Weekly Paradise
                            .d-flex.mb-2
                                .stars.line-height-1
                                    span.custom-font-size-1.material-icons star
                                    span.custom-font-size-1.material-icons star
                                    span.custom-font-size-1.material-icons star
                                    span.custom-font-size-1.material-icons star
                                    //- span.custom-font-size-1.material-icons star
                                    span.custom-font-size-1 4.0
                                .text-muted.custom-font-size-1 ・470 reviews
                            .d-flex
                                p.custom-font-size-1.mb-0 TWD 4,780
                                //- p.custom-font-size-1.mb-0.strikeThrough.ml-2 TWD 3,980
                    .card.border-0.mr-5
                        .imgWrap.imgWrap--overflow-hidden.mb-2.rounded
                            img.w-100(src='../assets/images/top4.jpg', alt='hotel photo')
                        .card-body.p-0
                            h3.font-weight-bold.custom-font-size-2.mb-2 Beast Hotel
                            .d-flex.mb-2
                                .stars.line-height-1
                                    span.custom-font-size-1.material-icons star
                                    span.custom-font-size-1.material-icons star
                                    span.custom-font-size-1.material-icons star
                                    span.custom-font-size-1.material-icons star
                                    //- span.custom-font-size-1.material-icons star
                                    span.custom-font-size-1 4.0
                                .text-muted.custom-font-size-1 ・283 reviews
                            .d-flex
                                p.custom-font-size-1.mb-0 TWD 1,980
                                //- p.custom-font-size-1.mb-0.strikeThrough.ml-2 TWD 3,980
