/* noto-sans-tc-regular - latin_chinese-traditional */
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans TC Regular'), local('NotoSansTC-Regular'),
       url('../fonts/noto-sans-tc-v10-latin_chinese-traditional-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/noto-sans-tc-v10-latin_chinese-traditional-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* noto-sans-tc-700 - latin_chinese-traditional */
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 700;
  src: local('Noto Sans TC Bold'), local('NotoSansTC-Bold'),
       url('../fonts/noto-sans-tc-v10-latin_chinese-traditional-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/noto-sans-tc-v10-latin_chinese-traditional-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}