//font family的部分
.font-family-raleway{
    font-family: $font-family-raleway;
}

//img
.imgWrap--overflow-hidden{
    overflow: hidden;
    img{
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
}

//bg img
.bg-norepeat{
    background-repeat: no-repeat;
}
.bg-size-cover{
    background-size: cover;
}
.bg-position-center{
    background-position: center;
}
.bg-black-white{
    position: relative;
    z-index: 1;
    &:before{
        background: transparent linear-gradient(270deg, #00000000 0%, #000000 100%) 0% 0% no-repeat padding-box;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 10;
    }
}

//z-index
.z-index-10{
    z-index: 10;
}

//responsible text-color
@each $breakpoint, $grid-breakpoint in $grid-breakpoints {
    @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
        @each $name, $color in $colors{
            .custom-text-#{$breakpoint}-#{$name}{
                color: $color !important;
            }
        }
        @each $name, $color in $theme-colors{
            .custom-text-#{$breakpoint}-#{$name}{
                color: $color !important;
            }
        }
    }
}

.custom-text-white{
    color: $white;
    &:hover,
    &:focus{
        color: $white;
    }
}
@include media-breakpoint-up(md) { 
    //color
    .black-md{
        color: $black;
        &:hover,
        &:focus{
            color: $black;
        }
    }
}
.line-height-1{
    line-height: 1em;
}
.line-height-15{
    line-height: 1.5em;
}

//font-size
.customs-font-size-14{
    font-size: 14px;
}
$custom-font-size-base: 1rem;
$font-size-range: 10;
@for $i from 1 through $font-size-range{
    .custom-font-size-#{$i}{
        font-size: $custom-font-size-base *0.5 + $i * 0.25 ;
    }
    //.custom-font-size-1 = 12px / 0.75rem
    //.custom-font-size-2 = 16px / 1rem
    //.custom-font-size-3 = 20px / 1.25rem
    //.custom-font-size-4 = 24px / 1.5rem
    //.custom-font-size-5 = 28px / 1.75rem
    //.custom-font-size-6 = 32px / 2rem
    //.custom-font-size-7 = 36px / 2.25rem
    //.custom-font-size-8 = 40px / 2.5rem
    //.custom-font-size-9 = 44px / 2.75rem
    //.custom-font-size-10 = 48px / 3rem
}
//.custom-font-size-md-1
@each $breakpoint, $grid-breakpoint in $grid-breakpoints {
    @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
        @for $i from 1 through $font-size-range{
            .custom-font-size-#{$breakpoint}-#{$i}{
                font-size: $custom-font-size-base *0.5 + $i * 0.25;
            }
        }
    }
}

//space
.w-md-100{
    @include media-breakpoint-down(md){
        width: 100%;
    }
}

//flex
.flex-basis-auto{
    flex-basis: auto;
}


//special txt style
.tiny-supertxt {
    font-size: 0.7em;
    vertical-align: super;
}

//animate
.transition-3s{
    transition: .3s;
}
.rotate-180{
    transform: rotate(180deg);
    transition: .3s;
}

.strikeThrough{
    position: relative;
    color: $muted;
    &:before{
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        margin: auto;
        background-color: $muted;
    }
}

.before-bg-dark{
    position: relative;
    &::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: $black;
        left: 0;
        top: 0;
    }
}
.custom-before-opacity-3::before{
    opacity: .3;
}
.custom-before-opacity-md-0::before{
    @include media-breakpoint-up(md){
        opacity: 0;
    }
}