footer.footer.s-bg-primary
    .container.l-flex.l-flex-wrap.s-text-white
        ul.footer__siteLink
            li
                a(href="#") 首頁
            li
                a(href="#") 系列鏡框
            li
                a(href="#") 門市據點
            li
                a(href="#") 部落格
            li
                a(href="#") 常見問題
        ul.footer__socialLink.l-flex-row
            li
                a(href="#")
                    img(src="images/icon-fb.svg", alt="")
            li
                a(href="#")
                    img(src="images/icon-ig.svg", alt="")
            li
                a(href="#")
                    img(src="images/icon-line.svg", alt="")
        ul.footer__contact
            li.l-flex-row.l-flex-align-items-center
                img(src="images/icon-phone.svg", alt="")
                p 0800-000-000
            li.l-flex-row.l-flex-align-items-center
                img(src="images/icon-mail.svg", alt="")
                p glasses@business.com
        ul.footer__right.l-flex-row.l-flex-wrap.l-flex-justify-content-between.l-flex-align-items-center
            li.footer__right__txt
                p Copyright © 2020 Glasses.All rights reserved.
            li.footer__right__link
                p 隱私權政策
                p 服務條款
            li.footer__right__logo
                img(src="images/logo.png", alt="")