header.header.s-bg-primary.s-text-white
        nav.navbar.l-flex-row.l-flex-align-items-center
            .bar.padDesktop--noShow.s-text-3
                a
                    i.fas.fa-bars
            .logo
                a(href="#")
                    img(src="images/logo.png", alt="")
            ul.menu.l-flex-row.mobile--show.l-flex-align-items-center.s-text-2.s-bg-primary
                li
                    a(href="#")
                        | 系列鏡框
                li
                    a(href="#")
                        | 門市據點
                li
                    a(href="#")
                        | 部落格
                li
                    a(href="qa.html")
                        | 常見問題