@mixin pseudo-el {
  content: "";
  position: absolute;
}
@mixin pseudo-el-style($height, $width, $color) {
  @include pseudo-el;
  height: $height;
  width: $width;
  background-color: $color;
}

@mixin backgroundImage($url, $position, $size) {
  background-image: url($url);
  background-position: $position;
  background-size: $size;
}

@mixin line-height($value) {
  line-height: #{$value}em;
}

@mixin pad {
  @media screen and (min-width: 767px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 992px) {
    @content;
  }
}
