* {
  box-sizing: border-box;
  position: relative;
}
body {
  font-family: "Roboto", "Noto Sans TC", sans-serif;
  font-weight: regular;
}
img {
  display: block;
}

//section 設定
.sectionSet {
  width: 100%;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}

//helper css
.pseudo-point::before {
  @include pseudo-el-style(22px, 22px, $secondary);
  left: -16px;
  top: 50%;
  transform: translate(-100%, -50%);
  border-radius: 50px;
}

.header {
  max-height: 960px;
  height: 120vh;
  @include backgroundImage("../../images/banner.png", center, cover);
  .container {
    padding: 40px 0;
    height: 100vh;
    @include medium {
      padding: 40px 15px;
    }
  }
  .txtWrap {
    max-width: 283px;
  }
  h1 {
    font-size: 5em;
    font-size: 5rem;
    line-height: 5.875em;
    line-height: 5.875rem;
  }
  h3 {
    @include line-height(1.75);
  }
  ul {
    justify-content: space-between;
  }
}

.title-text {
  margin: 24px 0;
  font-size: 3.5555em;
  font-size: 3.5555rem;
  line-height: 4.687em;
  line-height: 4.687rem;
  font-weight: 500;
}

.about {
  .container {
    padding: 40px 0;
    @include medium {
      padding: 40px 15px;
    }
  }
  .txtWrap {
    max-width: 411px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }
  img {
    max-width: 384px;
    height: auto;
  }
  ul {
    @include line-height(1.5);
  }
}
.profile {
  margin-bottom: 3.125rem;
  &:before {
    @include pseudo-el-style(1px, 100%, $black);
    max-width: 384px;
    bottom: -1.5625em;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(-50%);
  }
}
.profile li {
  margin-top: 0.3333em;
  line-height: 1.75em;
}
.experience li {
  margin: 0.75em auto;
  display: inline-block;
  margin-left: 38px;
}

.brand {
  .container {
    padding-top: 40px;
    padding-bottom: 140px;
    @include medium {
      padding: 40px 15px;
    }
  }
  h2 {
    margin-bottom: 1rem;
  }
  h3 {
    @include line-height(2.1);
  }
}

.works {
  @include backgroundImage("../../images/photo-1.png", bottom, contain);
  background-repeat: no-repeat;
  h3 {
    @include line-height(2.1);
  }
  .container {
    padding-top: 40px;
    padding-bottom: 104px;
    @include medium {
      padding: 40px 15px;
    }
  }
  .imgWrap {
    width: 100%;
    margin-bottom: 38px;
    p {
      margin: 18px 0;
    }
    img {
      width: 100%;
    }
  }
}

.footer {
  .container {
    padding-top: 40px;
    padding-bottom: 64px;
    @include medium {
      padding: 40px 15px;
    }
  }
  .title-text,
  p {
    margin-bottom: 16px;
  }
}
