block footer
    footer.footer.bg-dark
        .container
            .row
                .col-12.d-flex.justify-content-between.navbar.py-4.py-md-5.flex-md-row.flex-column.align-items-md-center.align-items-start
                    a.d-block.navbar-brand.custom-font-size-4.logo-raleway.text-white.mb-md-0.mb-5(href='#') Craftsman
                    p.text-muted.mb-0.mr-md-auto.order-md-0.order-1 © 2020. All Rights Reserved.
                    ul.navbar-nav.flex-md-row.mb-md-0.mb-5
                        li.nav-item.mr-md-6
                            a.nav-link.text-white(href="#") Purchase Policy
                        li.nav-item.mr-md-6
                            a.nav-link.text-white(href="#") Privacy Policy
                        li.nav-item
                            a.nav-link.text-white(href="#") Terms & Conditions