<!DOCTYPE html>
html(lang="en")
    head
        include ./head.pug
    body
        include ./nav.pug
        block content
        //- if pageSection.saleProduct
        include ./saleProduct.pug
        //- if pageSection.subscribe
        include ./subscribe.pug
        include ./footer.pug