block nav
    nav.navbar.navbar-expand-md.py-3.position-absolute.w-100
        .container
            button.navbar-toggler.border-0.custom-text-white(type='button', data-toggle='collapse', data-target='#navbarNav')
                span.material-icons menu
            a.navbar-brand.custom-font-size-4.custom-text-white.black-md.logo-raleway.mr-0(href='#') Craftsman
            a.shopCart.mx-0.order-3(href="#")
                .nav-link.p-2
                    span.material-icons.custom-text-white shopping_cart
            #navbarNav.collapse.navbar-collapse
              ul.navbar-nav.ml-auto
                li.nav-item.mr-md-3
                    a.nav-link.custom-text-white(href='#') Product
                li.nav-item.mr-md-3
                    a.nav-link.custom-text-white(href='#') Features
                li.nav-item.mr-md-3
                    a.nav-link.custom-text-white(href='#') Pricing