block saleProduct
    section.saleProduct.mb-md-7.mb-6.overflow-hidden
        if !saleProductTitle
            .container
                .row
                    .col-12.flex-nowrap.row.mx-0
                        a.custom-card.custom-card-md--imgleft.flex-column.mb-3.pb-md-3.pb-2.mr-5(role="button" href="detail.html")
                            .imgWrap.position-relative.mb-2.overflow-hidden.align-center.w-100
                                img.h-100.w-auto(src="assets/images/img-1.jpg", alt="saleProduct image")
                                p.position-absolute.text-white.p-3.custom-font-size-1 On Sale
                            .custom-card__content.align-items-start
                                .custom-card__content__title.mb-1
                                    h3.font-weight-bold.custom-font-size-4 Special Clays
                                .custom-card__content__content
                                    p.text-black
                                        | NT$1,080
                                        span.text-muted.ml-2.Strikethrough NT$1,200
                        a.custom-card.custom-card-md--imgleft.flex-column.mb-3.pb-md-3.pb-2.mr-5(role="button" href="detail.html")
                            .imgWrap.position-relative.mb-2.overflow-hidden.align-center.w-100
                                img.h-100.w-auto(src="assets/images/img-2.jpg", alt="saleProduct image")
                                //- p.position-absolute.text-white.p-3.custom-font-size-1 On Sale
                            .custom-card__content.align-items-start
                                .custom-card__content__title.mb-1
                                    h3.font-weight-bold.custom-font-size-4 Couple Collection
                                .custom-card__content__content
                                    p.text-black
                                        | NT$2,800
                                        //- span.text-muted.ml-2.Strikethrough NT$1,200
                        a.custom-card.custom-card-md--imgleft.flex-column.mb-3.pb-md-3.pb-2.mr-5(role="button" href="detail.html")
                            .imgWrap.position-relative.mb-2.overflow-hidden.align-center.w-100
                                img.h-100.w-auto(src="assets/images/img-3.jpg", alt="saleProduct image")
                                //- p.position-absolute.text-white.p-3.custom-font-size-1 On Sale
                            .custom-card__content.align-items-start
                                .custom-card__content__title.mb-1
                                    h3.font-weight-bold.custom-font-size-4 Brotherhood Vase
                                .custom-card__content__content
                                    p.text-black
                                        | NT$4,800
                                        //- span.text-muted.ml-2.Strikethrough NT$1,200
                        a.custom-card.custom-card-md--imgleft.flex-column.mb-3.pb-md-3.pb-2.mr-5(role="button" href="detail.html")
                            .imgWrap.position-relative.mb-2.overflow-hidden.align-center.w-100
                                img.h-100.w-auto(src="assets/images/img-4.jpg", alt="saleProduct image")
                                //- p.position-absolute.text-white.p-3.custom-font-size-1 On Sale
                            .custom-card__content.align-items-start
                                .custom-card__content__title.mb-1
                                    h3.font-weight-bold.custom-font-size-4 Baifan Bowl
                                .custom-card__content__content
                                    p.text-black
                                        | NT$1,800
                                        //- span.text-muted.ml-2.Strikethrough NT$1,200

        else
            .container-lg
                .row
                    h2.col-12.font-weight-bold.mb-md-4.mb-3.custom-font-size-6 You might also like…
                    .col-12.flex-nowrap.row.mx-0
                        a.custom-card.custom-card-md--imgleft.flex-column.mb-3.pb-md-3.pb-2.mr-5(role="button" href="detail.html")
                            .imgWrap.position-relative.mb-2.overflow-hidden.align-center.w-100
                                img.h-100.w-auto(src="assets/images/img-1.jpg", alt="saleProduct image")
                                p.position-absolute.text-white.p-3.custom-font-size-1 On Sale
                            .custom-card__content.align-items-start
                                .custom-card__content__title.mb-1
                                    h3.font-weight-bold.custom-font-size-4 Special Clays
                                .custom-card__content__content
                                    p.text-black
                                        | NT$1,080
                                        span.text-muted.ml-2.Strikethrough NT$1,200
                        a.custom-card.custom-card-md--imgleft.flex-column.mb-3.pb-md-3.pb-2.mr-5(role="button" href="detail.html")
                            .imgWrap.position-relative.mb-2.overflow-hidden.align-center.w-100
                                img.h-100.w-auto(src="assets/images/img-2.jpg", alt="saleProduct image")
                                //- p.position-absolute.text-white.p-3.custom-font-size-1 On Sale
                            .custom-card__content.align-items-start
                                .custom-card__content__title.mb-1
                                    h3.font-weight-bold.custom-font-size-4 Couple Collection
                                .custom-card__content__content
                                    p.text-black
                                        | NT$2,800
                                        //- span.text-muted.ml-2.Strikethrough NT$1,200
                        a.custom-card.custom-card-md--imgleft.flex-column.mb-3.pb-md-3.pb-2.mr-5(role="button" href="detail.html")
                            .imgWrap.position-relative.mb-2.overflow-hidden.align-center.w-100
                                img.h-100.w-auto(src="assets/images/img-3.jpg", alt="saleProduct image")
                                //- p.position-absolute.text-white.p-3.custom-font-size-1 On Sale
                            .custom-card__content.align-items-start
                                .custom-card__content__title.mb-1
                                    h3.font-weight-bold.custom-font-size-4 Brotherhood Vase
                                .custom-card__content__content
                                    p.text-black
                                        | NT$4,800
                                        //- span.text-muted.ml-2.Strikethrough NT$1,200
                        a.custom-card.custom-card-md--imgleft.flex-column.mb-3.pb-md-3.pb-2.mr-5(role="button" href="detail.html")
                            .imgWrap.position-relative.mb-2.overflow-hidden.align-center.w-100
                                img.h-100.w-auto(src="assets/images/img-4.jpg", alt="saleProduct image")
                                //- p.position-absolute.text-white.p-3.custom-font-size-1 On Sale
                            .custom-card__content.align-items-start
                                .custom-card__content__title.mb-1
                                    h3.font-weight-bold.custom-font-size-4 Baifan Bowl
                                .custom-card__content__content
                                    p.text-black
                                        | NT$1,800
                                        //- span.text-muted.ml-2.Strikethrough NT$1,200
