block subscribe
    section.subscribe(style="background-image: url(assets/images/footer.jpg)")
        .container.py-md-10.py-4
            .row
                .col-12.col-md-6
                    h2.custom-font-size-6.custom-font-size-md-8.text-white.font-weight-bold.mb-md-6.mb-4 Subscribe for news and special offers!
                    .input-group
                        input.form-control.bg-transparent(type='text', placeholder="Your email address")
                        .input-group-append
                            button#button-addon2.btn.btn-primary.subscribe__btn(type='button') Subscribe