* {
  box-sizing: border-box;
  position: relative;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial,
    sans-serif;
  font-weight: normal;
}
img {
  display: block;
}
a {
  text-decoration: none;
  color: $white;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 540px;
  @include pad {
    max-width: 720px;
  }
  @include desktop {
    max-width: 1140px;
  }
}

.padDesktop--noShow {
  display: block;
  @include pad {
    display: none;
  }
}
.mobile--show {
  display: none;
  @include pad {
    display: flex;
  }
}
.js--menu-show {
  display: block;
  li {
    display: block;
    &:before {
      @include pseudo-el-style(1px, 100vw, $white);
      left: 50%;
      top: 0;
      transform: translateX(-50%);
    }
  }
}

.header {
  padding: 0 16px;
  min-height: 50px;
  @include pad {
    padding: 30px 48px;
  }
  @include desktop {
    padding: 30px 88px;
  }
}
.navbar {
  justify-content: center;
  flex-direction: column;
  @include pad {
    justify-content: space-between;
    flex-direction: row;
  }
}
.bar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  a {
    display: inline-block;
    padding: 0.5em;
  }
}
.logo {
  align-self: center;
  a {
    display: inline-block;
    padding: 10px 0;
    @include pad {
      padding: 0;
    }
  }
  img {
    max-width: 48px;
    @include pad {
      max-width: 80px;
    }
  }
}
.menu {
  width: 100%;
  @include pad {
    width: auto;
  }
  li {
    line-height: 1.875rem;
    padding: 15px 0;
    text-align: center;
    // border-top: 2px solid $white;
    // @include pad {
    //   border-top: none;
    // }
    & + li {
      @include pad {
        margin-left: 40px;
      }
      @include desktop {
        margin-left: 64px;
      }
    }
  }
  a {
    padding: 0.5em 0;
    &:hover {
      color: darken($white, 20%);
    }
  }
}

.landing-page {
  background-repeat: no-repeat;
  @include backgroundImage("../../images/banner_pad.png", #{center}, cover);

  @include desktop {
    background-image: url("../../images/banner.png");
  }
  .container {
    min-height: 394px;
    @include pad {
      min-height: 840px;
    }
  }
  .txt {
    text-align: right;
  }
  h2,
  p {
    @include line-height(1.5);
  }
  .s-text {
    font-size: 1rem;
    @include pad {
      font-size: 2.25rem;
    }
  }
  p {
    font-size: 2rem;
    @include pad {
      font-size: 4rem;
    }
  }
}
