.filterNav {
    a{
        // color: $s-gray-1;
    }
    .active{
        color: $primary;
    }
}
.productCards{
    .card-columns{
        column-count: 2;
    }
    a.custom-card:hover,
    a.custom-card:focus{
        text-decoration: none;
    }
    h3{
        color: $black;
    }
    .imgWrap{
        height: 161px;
        @include media-breakpoint-down(sm) {
            img{
                width: 100%;
            }
        }
    }
    @include media-breakpoint-up(md) {
        .card-columns{
            column-count: 3;
        }
        .imgWrap{
            height: auto;
        }
        .img-lg{
            height: 480px;
            width: auto;
        }
        .img-md{
            height: 350px;
            width: auto;
        }
        .img-sm{
            height: 240px;
            width: auto;
        }
    }
}

