.productDetail{
    .imgWrap{
        height: auto;
        max-height: 442px;
        p{
            left: 0;
            right: auto;
        }
    }
    .custom-card__content__title, 
    .custom-card__content__content, 
    .custom-card__content__link{
        width: auto;
        max-width: 100%;
    }
    .product-fix-right{
        @include media-breakpoint-up(lg) {
            right: 95px;
        }
    }
}
