%bg-norepeat-cover{
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}
.landingPage-image{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-position: right;
    @extend %bg-norepeat-cover;
    @include media-breakpoint-up(md){
        width: 50%;
    }
}

.feature{
    .custom-card{
        width: auto;
    }
}

.artist{
    @extend %bg-norepeat-cover;
    background-position: left;
    .h-400{
        overflow: hidden;
        height: 400px;
    }
}

.saleProduct{
    .imgWrap{
        height: 350px;
        @include media-breakpoint-down(md){
            height: 240px;
        }
    }
}

.subscribe{
    @extend %bg-norepeat-cover;
    background-position: center;
    .subscribe__btn{
        padding-left: 2.75rem ;
        padding-right: 2.75rem ;
    }
}