html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* noto-sans-tc-regular - latin_chinese-traditional */
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 400;
  src: local("Noto Sans TC Regular"), local("NotoSansTC-Regular"), url("../../fonts/noto-sans-tc-v10-latin_chinese-traditional-regular.woff2") format("woff2"), url("../../fonts/noto-sans-tc-v10-latin_chinese-traditional-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* noto-sans-tc-700 - latin_chinese-traditional */
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 700;
  src: local("Noto Sans TC Bold"), local("NotoSansTC-Bold"), url("../../fonts/noto-sans-tc-v10-latin_chinese-traditional-700.woff2") format("woff2"), url("../../fonts/noto-sans-tc-v10-latin_chinese-traditional-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

body {
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: regular;
}

.wrap {
  max-width: 1230px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.mark {
  color: #A00404;
}

.pseudo-point::before {
  content: '';
  position: absolute;
  height: 16px;
  width: 16px;
  background-color: #96A9C4;
  left: -31px;
  top: 12px;
  border-radius: 50px;
}

.content__header {
  line-height: 45px;
}

.content__header:before {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: #000;
  bottom: 0;
  left: 0;
}

.content__header h2 {
  font-size: 32px;
  font-weight: 700;
  padding-left: 8px;
  padding-bottom: 8px;
}

.content__header .mark {
  font-size: 24px;
  vertical-align: top;
  padding-left: 16px;
}

.main {
  margin-top: 48px;
}

.main .header {
  font-size: 80px;
  line-height: 90px;
}

.main .header h1 {
  padding-bottom: 24px;
}

.main .header h1::before {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #000;
  bottom: 0;
  left: 0;
}

.main .header img {
  margin: 48px 0;
  border-radius: 50%;
  max-width: 324px;
  width: 100%;
  height: auto;
}

.main .content {
  margin-bottom: 72px;
}

.main .content__body {
  line-height: 36px;
  font-size: 24px;
  padding-left: 48px;
  margin-top: 16px;
}

.main .content__body h3, .main .content__body p + p {
  margin-bottom: 24px;
}

.footer {
  padding: 16px 0;
  background-color: #415165;
  color: #fff;
  text-align: center;
}

.footer .content__header {
  padding: 8px 0;
}

.footer .content__header:before {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: #fff;
}

.footer .mark {
  color: #fff;
}

.footer .txt {
  padding: 32px 0;
  font-size: 24px;
  line-height: 36px;
}

.footer .txt li + li {
  margin-top: 16px;
}

.footer .footerLink {
  line-height: 0;
}

.footer .footerLink a {
  cursor: pointer;
  display: inline-block;
  margin: 0 12px;
}

.footer .footerLink a img {
  font-size: 0;
  display: block;
}

.l-bg-w100:before {
  content: '';
  position: absolute;
  height: 72%;
  width: 100%;
  background-color: #96A9C4;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.main .content--center {
  background-color: #415165;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 24px 102px 16px;
}

.main .content--center .mark {
  color: #fff;
}

.main .content--center .content__header {
  width: 100%;
  text-align: center;
}

.main .content--center .content__header:before {
  content: '';
  position: absolute;
  height: 1.5px;
  width: 100%;
  background-color: #fff;
  bottom: -1px;
}

.main .content--center .content__header h2 {
  display: inline;
  padding-left: 0;
}

.main .content--center .content__body {
  border-left: 1px solid #fff;
  padding-left: 24px;
  margin: 40px 0;
  display: inline-block;
}

.main .content--center .content__body li + li {
  padding-top: 16px;
}

.main .content__listLine li + li {
  margin-top: 32px;
}

.main .content__listLine li + li:after {
  content: '';
  position: absolute;
  height: 66px;
  width: 1px;
  background-color: #96A9C4;
  left: -24px;
  top: -48px;
}

.main .content__timeLine {
  max-width: 680px;
}

.main .content__timeLine:after {
  content: '';
  position: absolute;
  height: 100%;
  width: 1px;
  background-color: #96A9C4;
  left: 22px;
  top: 0;
}

.main .content__timeLine li + li {
  margin-top: 32px;
}

.main .content__timeLine h3 {
  font-weight: bold;
  margin-bottom: 8px;
}

.main .content__timeLine img {
  max-height: 90px;
  width: auto;
  display: block;
  margin-bottom: 8px;
}

.main .content__timeLine p {
  font-size: 20px;
  line-height: 30px;
}
/*# sourceMappingURL=all.css.map */