extend ./modules/layout.pug

block append head
    title Week05 - Bootstrap | assignment
    link(rel="stylesheet", href="assets/style/all.css")
    script(src="assets/js/vendors.js")
    script(src="assets/js/all.js")

    //- font-family: 'Lato', sans-serif;
    //- font-family: 'Roboto Mono', monospace;
    //- icons https://material.io/resources/icons/?style=baseline 

block content
    include ./modules/nav
    main.main
        ul.nav.pageHead
            li.nav-item.pageHead__title Assignment
            li.nav-item.dropdown.pageHead__function.mr-auto
                a.nav-link(data-toggle='dropdown', href='#', role='button', aria-haspopup='true', aria-expanded='false') 
                    | All Courses
                    span.material-icons.align-middle keyboard_arrow_down
                .dropdown-menu
                    a.dropdown-item(href='#') 不要偷看我
                    a.dropdown-item(href='#') 不要偷看我
                    a.dropdown-item(href='#') 不要偷看我
                    .dropdown-divider
                    a.dropdown-item(href='#') 不明所以的分開
            li.nav-item
                a.nav-link(href='#')
                    span.material-icons search
            li.nav-item
                a.nav-link(href='#')
                    span.material-icons notifications_active
        section.pageSection.container-fluid
            .row
                .tasksTitle.col-4
                    .dropdown.mb-2
                        #dropdownMenuButton.font-weight-bold(role="button" data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                            | All (4)
                            span.material-icons.align-middle.text-primary.ml-2 keyboard_arrow_down
                        .dropdown-menu(aria-labelledby='dropdownMenuButton')
                            a.dropdown-item(href='#') 不要偷看我
                            a.dropdown-item(href='#') 不要偷看我
                            a.dropdown-item(href='#') 不要偷看我
                            a.dropdown-item(href='#') 不要偷看我
                            a.dropdown-item(href='#') 不要偷看我
                    .list-group
                        .list-group-item.list-group-item-action.d-flex.justify-content-between.active(role="button")
                            .list-group__title
                                p.mb-1 Chapter Assignment 2
                                h3 Please check this file…
                            .list-group__sub.text-right
                                p.mb-1 4 hrs ago
                                p Emily Wang
                        .list-group-item.list-group-item-action(role="button")
                            .list-group__title
                                p.mb-1 Chapter Assignment 1
                                h3 My Homework
                            .list-group__sub.text-right
                                p.mb-1 12 hrs ago
                                p David Xu
                        .list-group-item.list-group-item-action(role="button")
                            .list-group__title
                                p.mb-1 Final Assignment
                                h3 Have a problem with this…
                            .list-group__sub.text-right
                                p.mb-1 18 hrs ago
                                p Tony Wei
                        .list-group-item.list-group-item-action(role="button")
                            .list-group__title
                                p.mb-1 Final Assignment
                                h3 Did I do it right?
                            .list-group__sub.text-right
                                p.mb-1 19 hrs ago
                                p Christina Lin
                .tasksContent.col-8
                    p.text-right.mb-2 2 comments
                    .card
                        .card-header
                            p.mb-1 Final Assignment
                            h3 Did I do it right?
                        ul.card-body
                            li
                                .card-title
                                    .avatar
                                        img.img-fluid(src="assets/images/emilywang.jpeg", alt="")
                                    .detail
                                        .userData
                                            h4 Emily Wang
                                            p 10:38 AM (4 hours ago)
                                .card-content
                                    p.card-text 
                                        | Hi Teacher, the attached file is my homework of chapter 2.
                                        | And here comes a question: Why in the following code the height of the
                                        span.text--code div 
                                        | is bigger than the height of the 
                                        span.text--code img 
                                        | ? There is a gap below the image, but it doesn’t seems to be a padding/margin. What is the gap or extra space below image?
                                    a.btn.btn-green-bg.border-green-bg-darken(href='#')
                                        span.material-icons attach_file
                                        | HW-2-David.zip
                            li
                                .card-title
                                    .avatar
                                        img.img-fluid(src="assets/images/andychen.jpeg", alt="")
                                    .detail
                                        .userData
                                            h4 Andy Chen (You) 
                                            p 13:24 AM (1 hours ago)
                                        .functions
                                            span.material-icons star_outline
                                            span.material-icons edit
                                .card-content
                                    p.card-text 
                                        | Hi David, by default, an image is rendered inline, like a letter so it sits on the same line that a, b, c and d sit on.
                                        | There is space below that line for the descenders you find on letters like g, j, p and q. 
                                        br
                                        br
                                        | You can:
                                        ul
                                            li adjust the 
                                                span.text--code vertical-align 
                                                | of the image to position it elsewhere (e.g. the 
                                                span.text--code middle 
                                                | )
                                            li change the 
                                                span.text--code display 
                                                | so it isn’t inline.
                    .tasksFooter.d-flex.justify-content-between.mt-3
                        .arrow-group
                            span.material-icons.mr-3(role="button") keyboard_arrow_left
                            span.material-icons(role="button") keyboard_arrow_right
                        .btnsWrap.d-flex
                            .btn.btn-outline-primary Mark as read
                            .btn.btn-primary Reply