extend ./modules/layout.pug

block append head
    title document
    link(rel="stylesheet", href="assets/style/all.css")
    script(src="assets/js/vendors.js")
    script(src="assets/js/all.js")

    //- font-family: 'Lato', sans-serif;
    //- font-family: 'Roboto Mono', monospace;
    //- icons https://material.io/resources/icons/?style=baseline 

block content
    nav.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top.h-100.flex-column.justify-content-start.align-items-start.pl-0
        a.navbar-brand.pl-4(href='#') Navbar
        .navbar-nav.flex-column
            a.nav-item.nav-link.pl-4.active(href='#') Home 
            a.nav-item.nav-link.pl-4(href='#') Features
            a.nav-item.nav-link.pl-4(href='#') Pricing
        .navbar-nav.flex-column.mt-auto
            a.nav-item.nav-link.pl-4(href='#') Pricing

block footer
    include ./modules/footer