extend ./layout.pug

block content
    section.qa.fixNavTop
        .sectionTitle
            .container.l-flex.l-flex-align-items-end
                h2.s-text-weight-3
                    | 常見問題 
                    i.fas.fa-question-circle.s-text-primary
        .content
            .container
                h3.content-head.s-text-weight-3
                    | 我想詢問配鏡問題
                ul.content-body.tab#tab
                    li
                        .tab-head.js-defaultShow
                            | Q1.請問可否自備鏡框單配鏡片？
                            i.fas.fa-chevron-down
                        .tab-body
                            | A1.我牌鏡框搭配薄型非球面鏡片1480元，搭配功能型鏡片則依鏡片種類加價購買。 當日購買JINS盒裝眼鏡，搭配薄型非球面鏡片980元(隔日後則為1480元)，搭配功能型鏡片則依鏡片種類加價購買。 他牌鏡框，搭配薄型非球面鏡片1980元，搭配功能型鏡片則依鏡片種類加價購買。
                    li
                        .tab-head
                            | Q2.眼鏡都可以20分鐘取件嗎？
                            i.fas.fa-chevron-down
                        .tab-body
                            | A2.要等一年30天才能取件。
                    li
                        .tab-head
                            | Q3.散光鏡片需要額外加價嗎？
                            i.fas.fa-chevron-down
                        .tab-body
                            | A3.需要加價200萬喔。
                    li
                        .tab-head
                            | Q4.我可以使用舊眼鏡的度數配鏡片嗎？
                            i.fas.fa-chevron-down
                        .tab-body
                            | A4.不可以喔。
                    li
                        .tab-head
                            | Q5.請問可以單購買鏡框嗎？
                            i.fas.fa-chevron-down
                        .tab-body
                            | A5.就說不可以
