extend ./modules/layout.pug

block append head
    title Week06 - E-commerce | Product
    link(rel="stylesheet", href="assets/style/all.css")
    script(src="assets/js/vendors.js")
    script(src="assets/js/all.js")

block content

